.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
    margin: 0.2rem 0.2rem;
}

.form-control input {
    border: 1px solid #d15050;
    font: inherit;
    border-radius: 2px;
}

button {
    font: inherit;
    border: 1px solid #d15050;
    color: #d15050;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover, button:active {
    background-color: #d15050;
    color: white;
}